body {
	/*background-image: url("img/vintage.jpg");*/
	margin: 0;
	padding: 0;
	height:;
}

h1 {
	text-transform: uppercase;
	color: white;
	font-size: 1em;
	width: 80%;
	margin: 60px auto;
}

h2 {
	color: white;
	font-size: 1em;
	text-align: justify-all;
	width: 80%;
	margin: 20px auto;
	}

.full {
	display: block;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
}

#button{
	
	width:100%;
	height:50px;
	background-color: yellow;

}

#right {
    width: 40%;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 200;
}

#instatimeline{

position:relative;


}

.full{
	display:none;

}

.pearlyblogging{
	
}

.pflickr{
	display:none;
	
}

.ptwitter{
display:none;
}

.psocialmedia{
display:none;
}



#timelinewrapfirst{
	position:relative;
	top:0;
	left:0;
	z-index: 100;
	background-color: #70B5B1;
	height:100%;



}

.container{

	height: 700px;


}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popuptext {
    visibility: hidden;
    width: 119%;
    height: auto;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 20px;
    position: absolute;
    bottom: 107%;
    display: block;
}



/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
.gotohomediv{
    z-index: 1000000;
    position: fixed;
    top: 17px;
    right: 0px;
    width: 94px;
    height: 600px;
    display: none;



}

