/* General guideline */

body {
	font-family: 'Roboto';
	background:#1F2E5F;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

body.title {
	background-image: url(assets/img/vintage.jpg);
}

.container {
	padding: 20px;
	position: relative;
}

a {
	text-decoration: none;
}


div {
    margin-top: 20px;
    margin-bottom: 20px;
}


h1, h2, p {
	font-size: 1em;
	color: white;
}

h1 {
	text-transform: uppercase;
 	font-style: bold;
}

h1.title {
	text-transform: uppercase;
	font-size: 2em;
	color: white;
	font-style: bold;
    width: 80%;
    margin: 230px auto;
}

h2 {
	text-align: justify-all;
 	font-style: italic;
}

h3 {
    font-size: 1.2em;
    color: white;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 20px;
    position: absolute;
    bottom: 11%;
    margin: 40%;
}



/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.img {
    width:100%;
    text-align: center;
    background-color: white;
    line-height: 100px; /* <-- this is what you must be same height*/
    vertical-align: middle;
    border-radius: 12px;
}


.circular {
    height: 80px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 12px;
    background-color: transparent;
    background-position: center top;
    margin-bottom: 20px;
    position: relative;
}

.img-circular {
    height: 80px;
    position: relative;
}

.text-circular {
    color: white;
    margin-left: 30px;
    margin-top: 3px;
    position: absolute;
}

.button {
	width:100%;
	height:100px;
	text-align: center;
	background-color: white;
	line-height: 100px; /* <-- this is what you must be same height*/
  	vertical-align: middle;
  	border-radius: 12px;
    color: black;
    font-size: 1em;
}

.profile {
    height: 220px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 12px;
    background-color: white;
    background-position: center top;
    position: relative;
}

/* .more is the button to introduce each follower's slider-page */
.more { 
    position: absolute;
    width: 47%;
    height: 12%;
    line-height: 227%;
    text-align: center;
    right: 8%;
    top: 23%;
    vertical-align: middle;
    border-radius: 4px;
    font-size: 0.8em;
    display: block;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    color: white;
}

.more:hover {
    background-color: white;
    color: black;
}


@-webkit-keyframes pulsate {
    0% {background-color: #3894ec;}
    50% {background-color: white;}
    100% {background-color: #3894ec;}
}


.full {
    display: block;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

.gallery {
    background-size: 100% auto;
    position: relative;

}

.img-gallery {
    width: 30%;
    border: 1px solid #ddd;
    padding: 3px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 6px;
    background-position: center top;
    position: relative;
}
