/* General guideline */

body {
	font-family: 'Roboto';
	margin: 0;
	padding: 0;
	font-size: 100%;
  overflow: hidden;
}

#mobile {
    width: 300px;
    height: 553px;
    margin: 20px auto;
    background-image: url(assets/img/iphone.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    padding: 67px 19px;
    position: relative;
}
#screen {
    height: 536px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #70B5B1;
}
#scroller {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
}

/* --- HEADER */

#header{
    margin: 0;
    width:100%;
    height:50px;
    background-color: #f1f1f1;
    position: fixed;
    z-index: 200000;
    max-width: 300px;
}
#back{
    padding-left:20px;
}
.goback{
  background:none;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
}
.hamburger, .cross{
  float: right;
  background:none;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
}
.cross{
  font-size:3em;
  padding-top: 22px;
}
.menu{
    min-width: 300px;
    margin-top: 50px;
    z-index:1000000; 
    font-size:0.8em; 
    background:#f1f1f1;  
    position: fixed;
    text-align:left; 
    font-size:12px;
    height: calc(536px - 50px);
    z-index: 20000;
}
.menu ul {
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    list-style-image: none;

}
.menu li {
    display: block;   
    padding: 10px 15px 7px 15px; 

}
.menu li:hover{
    display: block;    
    background:#ffffff; 
    padding: 10px 15px 7px 15px; 

}
.menu ul li a { 
    text-decoration:none;  
    margin: 0px; 
    color:#666;
}
.menu ul li a:hover {  
    color: #666; 
    text-decoration:none;
}
.menu a{
    text-decoration:none; 
    color:#666;
}
.menu a:hover{
    text-decoration:none; 
    color:#666;
}
.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
header{
    display:inline-block; 
    font-size:12px;
}
a{
    color:#70B5B1;
}
.bold {
  font-weight: 700;
}

.container {
	padding: 70px 20px 40px 20px;
	position: relative;
  overflow-x: hidden;
  margin: 0;
}

.container.title {
  background-image: url(assets/img/prototype09-26-bis.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto auto;
  background-position: center;
  margin: 0;
  min-height: 100vh;
}

.container.about {
    background: #606060;
}

.container.slider {
  padding-top: 160px;
}

a {
	text-decoration: none;
}


div {
    margin-top: 20px;
    margin-bottom: 20px;
}


h1, h2 {
	font-size: 1em;
	color: white;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 0.9em;
    color: white;
}
 /*caption */
h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 0.65em;
    color: white;
    padding: 15px;
}

h1 {
	text-transform: uppercase;
 	font-style: bold;
}

h1.title {
	text-transform: uppercase;
	font-size: 1.5em;
	color: white;
	font-style: bold;
    width: 80%;
  margin: 60% auto;
}

h2 {
	text-align: justify-all;
 	font-style: italic;
}

h3 {
    font-size: 1.2em;
    color: white;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popuptext {
    visibility: hidden;
    width: 119%;
    height: auto;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 20px;
    position: absolute;
    bottom: 107%;
    display: block;
}



/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.img {
    width:100%;
    text-align: center;
    background-color: white;
    line-height: 100px; /* <-- this is what you must be same height*/
    vertical-align: middle;
    border-radius: 12px;
}


.circular {
    height: 80px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 12px;
    background-color: transparent;
    background-position: center top;
    margin-bottom: 20px;
    position: relative;
}

.img-circular {
    height: 80px;
    position: relative;
}

.text-circular {
    color: white;
    margin-left: 30px;
    margin-top: 3px;
    position: absolute;
}

.button {
	width:100%;
	height:100px;
	text-align: center;
	background-color: white;
	line-height: 100px; /* <-- this is what you must be same height*/
  	vertical-align: middle;
  	border-radius: 12px;
    color: #888;
    font-size: 1em;
    box-shadow: 0 8px 0px -2px rgba(0,0,0,0.2), 0 6px 0px 0 rgba(0,0,0,0.19);
}

.profile {
    height: 220px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 12px;
    background-color: white;
    background-position: center top;
    position: relative;
}

/* .more is the button to introduce each follower's slider-page */
.more { 
    position: absolute;
    width: 47%;
    height: 12%;
    line-height: 227%;
    text-align: center;
    right: 8%;
    top: 23%;
    vertical-align: middle;
    border-radius: 4px;
    font-size: 0.8em;
    display: block;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    color: white;
}

@-webkit-keyframes pulsate {
    0% {background-color: #3894ec;}
    50% {background-color: white;}
    100% {background-color: #3894ec;}
}


.full {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

.full:focus{
    outline: none;
}

*:focus {outline: 0;}

.gallery {
    background-size: 100% auto;
    position: relative;

}

.img-gallery {
    width: 30%;
    padding: 3px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 12px;
    background-position: center top;
    position: relative;
	margin-top: 1px;
    margin-bottom: -5px;
}

.img-empirical {
    height: 220px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 12px;
    background-position: center;
    position: relative;
}

.img-identity {
    height: 125px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 12px;
    background-position: center;
    position: relative;
    background-color: white;
}

.img-gif {
    height: 185px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 12px;
    background-position: center;
    position: relative;
}

.img-gif-likes {
    height: 145px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 12px;
    background-position: center;
    position: relative;
}

.img-gif-square {
    height: 250px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 12px;
    background-position: center;
    position: relative;
    margin-bottom: 0;
}

.img-gif-title {
    height: 90px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 12px;
    background-position: center;
    position: relative;
}

video {
    width: 100%;
    height: auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 12px;
    background-position: center top;
    position: relative;
}

video::-webkit-media-controls {
    margin-top: 5000px;
}

/* external css: flickity.css */

.carousel-cell {
    height: auto;
    width: 100%;
    border-radius: 12px;
    background-position: center;
    counter-increment: carousel-cell;
}

blockquote.style2 {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 

.w3-container {
  padding: 0.01em 16px;
}
.w3-card-4 {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  width: 90% !important;
  padding: 5%
}
.fa-quote-right:before {
    content: "â€";
    font-size: 3em;
    font-weight: 700;
}

/* --- TIMELINE PAGE */

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
.gotohomediv{
    z-index: 1000000;
    position: absolute;
    top: 17px;
    right: 0px;
    width: 94px;
    height: 231px;
    display: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

/* --- THEORY */

.heart:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'icons';
  font-size: 21px;
  text-indent: 0;
  font-variant: normal;
  line-height: 21px;
}
.heart {
  position: relative;
  width: 24px;
  overflow: inherit;
  margin: 16px auto;
  list-style: none;
  display:block;
  margin-left: auto;
    margin-right: auto;
  -webkit-animation: animateHeart 2.5s infinite;
  animation: animateHeart 2.5s infinite;
}

@-webkit-keyframes animateHeart {
  0% {
    -webkit-transform: scale(1);
  }
  5% {
    -webkit-transform: scale(1.2);
  }
  10% {
    -webkit-transform: scale(1.1);
  }
  15% {
    -webkit-transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes animateHeart {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.2);
  }
  10% {
    transform: scale(1.1);
  }
  15% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}


.paragraphone{
  display:inline;

}

.paragraphtwo{
  display:none;


}

.paragraphthree{
  display:none;


}

.paragraphfour{
  display:none;


}

.paragraphfive{

  display:none;

}

.paragraphsix{
  position:relative;
  left:-500px;

}

.headerpicts {
  position: fixed;
  background-color: #70B5B1;
  width: 100%;
  max-width: 260px;
  z-index: 4000;
  margin: 0;
  margin-top: 50px;
  padding: 0 20px;
}

#slider {
  width: 92% !important;
}

/* --- MOBILE */

@media only screen 
  and (min-device-width: 300px) { 

  body {
    overflow: scroll;
  }
  
  #mobile {
    margin: 0;
    width: 100%;
    background-image: none;
    padding: 0;
    height: auto;
  }
  #screen {
    height: auto;
  }
  #scroller {
    width: auto;
  }
  #header {
    max-width: 100%;
  }
  .menu {
    min-width: 100%;
    height: calc(100vh - 50px);
  }

  .headerpicts {
    max-width: 90% !important;
  }

}
