body {
	margin: 0;
	padding: 0;
}

.headerpicts{

	height:103px;
	text-align: center;

}

#output{
 	color:white;
 	position: absolute;
 	top: 266px;
 	left: 245px;

}

.heartslider{

 width:16px;
 position: relative;
 bottom: 54px;
 left: 9px;

}



#slider{
	width: 277px;
    margin-top: 64px;
    margin-left: -20px;
}

.div-slider{
	width:100%;

}

#pictures{
	width:100%;
	text-align: center;
	display: flex;
    flex-wrap: wrap;

}


#pictures div {
  position: relative;
  float: left;
}
#pictures div img {
  width: 100%;
}
#pictures div span w{
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.hide {
  opacity: 0.3;
}

.order {
   margin-bottom: -52px !important;
}

.likesonpict{

 position: relative;
 top: -74px;

}






input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.85px 0;
  background:#70B5B1;

}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3.3px;
  cursor: pointer;
  box-shadow: 0.6px 0.6px 0.6px #999999, 0px 0px 0.6px #a6a6a6;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 0.3px;
  border: 0px solid #ffffff;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.8px 1.8px 3.6px #999999, 0px 0px 1.8px #a6a6a6;
  border: 1.8px solid #ffffff;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.85px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.78);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3.3px;
  cursor: pointer;
  box-shadow: 0.6px 0.6px 0.6px #999999, 0px 0px 0.6px #a6a6a6;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 0.3px;
  border: 0px solid #ffffff;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1.8px 1.8px 3.6px #999999, 0px 0px 1.8px #a6a6a6;
  border: 1.8px solid #ffffff;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3.3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(232, 232, 232, 0.78);
  border: 0px solid #ffffff;
  border-radius: 0.6px;
  box-shadow: 0.6px 0.6px 0.6px #999999, 0px 0px 0.6px #a6a6a6;
}
input[type=range]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.78);
  border: 0px solid #ffffff;
  border-radius: 0.6px;
  box-shadow: 0.6px 0.6px 0.6px #999999, 0px 0px 0.6px #a6a6a6;
}
input[type=range]::-ms-thumb {
  box-shadow: 1.8px 1.8px 3.6px #999999, 0px 0px 1.8px #a6a6a6;
  border: 1.8px solid #ffffff;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  height: 3.3px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.78);
}
