body {
	margin: 0;
	padding: 0;
}

.headerpicts{

	height:103px;
	text-align: center;

}

#output{
 	color:white;
    position: absolute;
    right: 47px;
    top: 263px;

}

.heartslider{

 width:16px;
position: relative;
 bottom: 54px;
 left: -8px;

}



#slider{
	width: 277px;
    margin-top: 64px;
    margin-left: -20px;
}

.div-slider{
	width:100%;

}

#pictures{
	width:100%;
	text-align: center;
	display: flex;
    flex-wrap: wrap;

}


#pictures div {
  position: relative;
  float: left;
}
#pictures div img {
  width: 100%;
}
#pictures div span w{
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.hide {
  opacity: 0.3;
}

.order {
  order: 1;
   margin-bottom: -51px !important;
}

.likesonpict{

 position: relative;
 top: -74px;

}
