body {
	margin: 0;
	padding: 0;
}

#headerpicts{

	height:200px;
	background-color: pink;
	text-align: center;

}

button{
	width:100px;
	background-color: #e6ffe6;
	border:none;
	margin-top: 35px;

}

#slider{
	width:250px;
	margin-top:102px;
}

#div-slider{
	width:100%;

}

#pictures{

	width:100%;
	text-align: center;

}

#pictures img{

	width:150px;
	margin:10px;


}


