body {
	background-color: darkblue;
}

h1 {
	text-transform: uppercase;
	color: white;
	font-size: 2em;
	width: 80%;
	margin: 230px auto;
}

h2 {
	color: white;
	font-size: 1em;
	width: 80%;
	margin: 230px auto;
	}



