#header{

	width:100%;
	height:50px;
	background-color: #f1f1f1;

}

div{
	margin:0px;

}

#back{
padding-left:20px;

}

.bold{

font-family: 'Roboto', sans-serif;
font-weight: 700;

}

.goback{
	
background:none;
  position:absolute;
  top:0;
  left:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;



}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{
	z-index:1000000; 
	font-size:0.8em; 
	width:100%; 
	background:#f1f1f1;  
	position:relative;
	float:right;
	text-align:right; 
	font-size:12px;
	height:100vh;


}

.menu ul {
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	list-style-image: none;

}
.menu li {
	display: block;   
	padding: 10px 15px 7px 0; 

}
.menu li:hover{
	display: block;    
	background:#ffffff; 
	padding: 10px 15px 7px 0; 

}
.menu ul li a { 
	text-decoration:none;  
	margin: 0px; 
	color:#666;
}
.menu ul li a:hover {  
	color: #666; 
	text-decoration:none;
}
.menu a{
	text-decoration:none; 
	color:#666;
}
.menu a:hover{
	text-decoration:none; 
	color:#666;
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
header{
	display:inline-block; 
	font-size:12px;
}
span{
	padding-left:20px;
}
a{
	color:#336699;
}