body {
	background-color: white;
	margin: 0;
	padding: 0;
}

.question {
	height: 50vh;
	padding: 0 20px;
	display:flex;
	align-items: center;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	color: black;
	font-size: 1.5em;
	width: 100%;
	margin: 0;
}

.empirical {
	height: 25vh;
	padding: 0 20px;
	background-color: #a4c2cd;
	display:flex;
	align-items: center;
}

h2 {
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-size: 1.5em;
	width: 100%;
	margin: 0;
}

.theoretical {
	height: 25vh;
	padding: 0 20px;
	background-color: #2a5766;
	display:flex;
	align-items: center;
}
